* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: whitesmoke;
   
}
.navRight img{
    width: 350px;
    margin-left: 100px;
   
}

.navCenter a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
    
}

.navLeft a{
    padding: 0px;
    color: #1DA1F2;
    margin-left: 100px;
   
}
@media  screen and (max-width: 425px) {
    .navCenter{
        display: none;
    }
    .showNavCenter{
        display: grid;
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        background-color: whitesmoke;
    }
    .showNavCenter a:hover {
        background-color: lightseagreen;
    }
    .toggle-btn{
        display: block;
    }

    .toggle-btn:hover {
        transform: rotate(90deg);
        transition: 0.3s linear;
    }
}