* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: whitesmoke;
   
}
.navRight img{
    width: 350px;
    margin-left: 100px;
   
}

.navCenter a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
}

.navLeft a{
    padding: 5px;
    color: #1DA1F2;
    margin-right: 50px;
}